<?xml version="1.0" encoding="UTF-8"?>
<!-- /***************************************************************
 A service by which a client may conduct asynchronous dialogues 
 (message interchanges) with one or more other services. This 
 service is useful when many collaborating services are required 
 to satisfy a client request, and/or when significant delays are 
 involved is satisfying the request. This service was defined 
 under OWS 1.2 in support of SPS operations. WNS has broad 
 applicability in many such multi-service applications.

 Copyright (C) 2006 by con terra GmbH

 Contact: Albert Remke, con terra GmbH, Martin-Luther-King-Weg 24,
 48155 Muenster, Germany, 52n@conterra.de

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 version 2 as published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program (see gnu-gpl v2.txt); if not, write to
 the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
 Boston, MA  02111-1307, USA or visit the web page of the Free
 Software Foundation, http://www.fsf.org.

 Created on: 2006-07-28
 *************************************************************** -->
<WNSConfig xmlns="http://www.52north.org/wns" xmlns:wns="http://www.opengis.net/wns/0.0"
	xmlns:ows="http://www.opengis.net/ows" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.52north.org/wns ./wnsConfigFiles.xsd">
	<ServiceProperties>
		<MaxTTLOfMessages>P7D</MaxTTLOfMessages>
		<ExceptionLevel>DetailedExceptions</ExceptionLevel>
		<WNSURL>http://localhost:8080/52nWNS/wns</WNSURL>
		<WNSSchemaLocation>http://www.opengis.net/wns/0.0
			http://schemas.opengis.net/wns/0.0.0/wnsAll.xsd</WNSSchemaLocation>
		<OWSSchemaLocation>http://www.opengis.net/ows
			http://schemas.opengis.net/ows/1.0.0/owsExceptionReport.xsd</OWSSchemaLocation>
		<DAOFactoryDriver>org.n52.wns.db.ExistDatabaseDAOFactory</DAOFactoryDriver>
		<!-- Take care of the "/", don´t use "\" -->
		<!--If you use the eXist database DAO a property file is not needed!-->
		<DAOFactoryPropertiesLocation>@daofactory@</DAOFactoryPropertiesLocation>
		<CapabilitiesBaseInformation version="0.0.0">
			<ows:ServiceIdentification>
				<ows:Title>52north WNS</ows:Title>
				<ows:Abstract>WNS for sending messages via various protocols.</ows:Abstract>
				<ows:Keywords>
					<ows:Keyword>WNS</ows:Keyword>
					<ows:Keyword>messaging</ows:Keyword>
					<ows:Keyword>protocol independent</ows:Keyword>
				</ows:Keywords>
				<ows:ServiceType codeSpace="http://opengeospatial.net">OGC:WNS</ows:ServiceType>
				<ows:ServiceTypeVersion>0.0.0</ows:ServiceTypeVersion>
				<ows:Fees>NONE</ows:Fees>
				<ows:AccessConstraints>NONE</ows:AccessConstraints>
			</ows:ServiceIdentification>
			<ows:ServiceProvider>
				<ows:ProviderName>Institute for Geoinformatics, University of Muenster</ows:ProviderName>
				<ows:ProviderSite xlink:href="http://ifgi.uni-muenster.de"/>
				<ows:ServiceContact>
					<ows:IndividualName>Your Name</ows:IndividualName>
					<ows:PositionName/>
					<ows:ContactInfo>
						<ows:Phone>
							<ows:Voice/>
							<ows:Facsimile/>
						</ows:Phone>
						<ows:Address>
							<ows:DeliveryPoint/>
							<ows:City/>
							<ows:AdministrativeArea/>
							<ows:PostalCode/>
							<ows:Country/>
							<ows:ElectronicMailAddress/>
						</ows:Address>
					</ows:ContactInfo>
				</ows:ServiceContact>
			</ows:ServiceProvider>
			<ows:OperationsMetadata>
				<ows:Operation name="GetCapabilities">
					<ows:DCP>
						<ows:HTTP>
							<ows:Get xlink:href="http://localhost:8080/52nWNS/wns?"/>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="Sections">
						<ows:Value>All</ows:Value>
						<ows:Value>ServiceIdentification</ows:Value>
						<ows:Value>ServiceProvider</ows:Value>
						<ows:Value>OperationsMetadata</ows:Value>
						<ows:Value>Contents</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="Register">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="Unregister">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="UpdateSingleUserRegistration">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="UpdateMultiUserRegistration">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="GetMessage">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
				<ows:Operation name="DoNotification">
					<ows:DCP>
						<ows:HTTP>
							<ows:Post xlink:href="http://localhost:8080/52nWNS/wns"/>
						</ows:HTTP>
					</ows:DCP>
					<ows:Parameter name="service">
						<ows:Value>WNS</ows:Value>
					</ows:Parameter>
					<ows:Parameter name="version">
						<ows:Value>1.0.0</ows:Value>
					</ows:Parameter>
				</ows:Operation>
			</ows:OperationsMetadata>
		</CapabilitiesBaseInformation>
		<DataBaseProperties>
			<DBName>52nWNS</DBName>
			<user>admin</user>
			<password/>
			<URL>localhost:8080/exist</URL>
			<checkDBDuration>1</checkDBDuration>
		</DataBaseProperties>
		<WSDLDocumentPath>E:/workspace/52nWNS/WebContent/WEB-INF/conf/wns.wsdl</WSDLDocumentPath>
	</ServiceProperties>
	<RegisteredHandlers>
		<EMailHandler>
			<!--The settings for the smtp account to send emails-->
			<SMTP>
				<Host>mail.foo.de</Host>
				<User>username</User>
				<Passwd>password</Passwd>
				<Sender>username@foo.de</Sender>
				<Authenticate>true</Authenticate>
				<Port>25</Port>
				<EmailSubject>52n Web Notification Service</EmailSubject>
				<SSL>false</SSL>
				<TLS>true</TLS>
			</SMTP>
		</EMailHandler>
		<XMPPHandler>
			<!--The settings for the XMPP account -->
			<Provider>org.n52.wns.xmpp.XMPPHandlerJabber</Provider>
			<User>xmppjabbername</User>
			<Passwd>xmppjabberpassword</Passwd>
			<Host>jabber.org</Host>
			<Port>5222</Port>
		</XMPPHandler>
		<SMSHandler>
			<!--The settings to send SMS-->
			<Provider>org.n52.wns.sms.SMSHandlerEcall</Provider>
			<User>SMSUser</User>
			<Passwd>SMSpwd</Passwd>
			<Host>msg.ecall.ch</Host>
		</SMSHandler>
		<PhoneHandler>
			<!--The setting for the phone handler, the user name will be concat with the host, user@host-->
			<Provider>org.n52.wns.communication.PhoneHandlerEcall</Provider>
			<User>PhoneUser</User>
			<Passwd>Phonepwd</Passwd>
			<Host>voice.ecall.ch</Host>
		</PhoneHandler>
		<FaxHandler>
			<!--The setting for the fax handler, the user name will be concat with the host, user@host-->
			<Provider>org.n52.wns.communication.FaxHandlerEcall</Provider>
			<User>FaxUser</User>
			<Passwd>FaxPwd</Passwd>
			<Host>fax.ecall.ch</Host>
		</FaxHandler>
	</RegisteredHandlers>
</WNSConfig>
